@import url(reset.css);
@import url(common.css);
@import url("https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap");

body{
   font-family: "Inter", sans-serif;
   font-size: 16px;
}
.wraper{
   overflow: clip;
   min-height: 100%;

   display: flex;
   flex-direction: column;
}

.wraper > main{
   flex-grow: 1;
}


.cards-main__container {
   max-width: 1200px;
   padding: 67px 15px 80px;
   margin: 0 auto;
}
.cards-main__grid {
   display: grid;
   grid-template-columns:repeat(2,1fr);
   gap: 30px;
   
   z-index: 1;
   
}

.cards-main__item-left{
grid-row: span 2;
}


.cards-main__item-left{
   position: relative;
   height: 100%;
   z-index: 2;
   min-height: 490px;
   padding: 40px ;
   }
.cards-main__item-right{
   position: relative;
   height: 100%;
   z-index: 2;
   min-height: 230px;
   padding: 40px 168px 40px 40px;
}

.cards-main__image-left{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: 3;
}

.cards-main__image-right{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: 3;
   object-position: right;
}

.cards-main__content {
   position: relative;
   z-index: 4;
   max-width: 365px;
}
.cards-main__link {
   font-weight: 600;
   color: #637381;
   line-height: 150%; /* 24/16 */
   z-index: 5;
}
.cards-main__title {
   font-weight: 600;
   font-size: 28px;
   line-height:125%; /* 35/28 */
   color:#212B36 ;
   z-index: 6;
}
@media (max-width:991.98px){
   .cards-main__item-right .cards-main__content{
      max-width: 300px;
   }
}

@media (max-width:767.98px){
   .cards-main__grid {
      display: grid;
      grid-template: repeat(4,230px)/repeat(1,1fr) ;
      gap: 30px;
      
      
   }
}


.latest-products {
   background-color: #FAFAFA;
}
.latest-products__container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 120px 15px;
}
.latest-products__header {
   max-width: 490px;
   margin: 0 auto;
   text-align: center;
}
.latest-products__header:not(:last-child){
   margin-bottom: 70px;
}
.latest-products__header >*:not(:last-child){
   margin-bottom: 15px;
}
.latest-products__grid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 30px;
}
.latest-products__grid:not(:last-child){
   margin-bottom: 40px;
}

.latest-products__item {
   border-radius: 7px;
   background-color:#FFFFFF ;
   border: 1px solid #E7E7E7;
}
.item-latest-products {
   display: flex;
   flex-direction: column;
}
.item-latest-products__image {
   position: relative;
   padding-bottom: 78.804348%; /* 290/368 */
   overflow: hidden;
   
}
.item-latest-products__image img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: contain;
border-radius: 7px 7px 0px 0px;
transition: transform 0.8s;
}
.item-latest-products__image:hover img{
   transform: scale(1.1);
}

.item-latest-products__content{
   flex-grow: 1;
   padding: 25px;
   display: flex;
   flex-direction: column;
   row-gap: 15px;
}
.item-latest-products__title {
   font-size: 20px;
   font-weight: 600;
   line-height: 130%; /* 26/20 */
   color: #212B36;
   transition: color 0.3s;
}
.item-latest-products__title:hover{
   color: #637381;
}
.item-latest-products__footer {
   display: flex;
   border-top: 1px solid #E7E7E7;
   justify-content: space-between;
}

.latest-products__form {
   display: inline-block;
}

.form-rating__simple {
   position: relative;
   font-size: 20px;
   display: inline-block;
}
.form-rating__simple::before{
   content: " ★★★★★";
   display: block;
}
.form-rating__items {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: row-reverse;
   overflow: hidden;
}
.form-rating__item {
   position: absolute;
   width: 0%;
   height: 0%;
   opacity: 0;
   visibility: hidden;
   top: 0;
   left: 0;
   
}
.form-rating__label {
   flex: 0 0 20%;
   height: 100%;
   cursor: pointer;
   color: #ffffff;
}
.form-rating__label::before{
   content: "★";
   display: block;
   transition: color ease 0.3s;
}
.form-rating__item:checked,
.form-rating__item ~ .form-rating__label {
color: #FFA645;
}

.form-rating__label:hover,
.form-rating__label:hover ~ .form-rating__label,
.form-rating__label:checked ~ .form-rating__label:hover{
color: #e2b98e;
}

.item-latest-products__reviews{
padding: 15px 5px 15px 25px;
}
.item-latest-products__reviews-sum {
   font-weight: 500;
   color: #637381;
   font-size: 16px;
   line-height: 150%; /* 24/16 */
   padding-left: 7px;
   transition: color 0.3s;
}
.item-latest-products__reviews-sum:hover{
   color: #212B36;
}
.item-latest-products__product-price {
   font-weight: 600;
   font-size: 16px;
   line-height:150% ;
   color: #212B36;
   padding: 15px 15px 15px 20px;
   border-left: 1px solid #E7E7E7;
   transition: text-shadow 0.3s;
}
.item-latest-products__product-price:hover{
   text-shadow: 0.2px 0.2px 0.2px #0d1115;
}

.pages-latest-products {
   display: flex;
   justify-content: center;
   align-items: center;
}
.pages-latest-products__wraper {
   background-color: #ffffff;
   border: 0.5px solid #E7E7E7;
   border-radius: 23px;
   padding: 6px;
   display: flex;
   gap: 11px;
}
.pages-latest-products__arrow-left {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 0.5px solid #E7E7E7;
   position: relative;
}

.pages-latest-products__arrow-left::before{
   display: inline-block;
   content: "";
   width: 12px;
   height: 9px;
   background: url(../img/arrow-pages.svg) 0 0 no-repeat;
   position: absolute;
   top: 33%;
   left: 33%;
   transition:background-color  0.5s;
}
.pages-latest-products__arrow-left:hover.pages-latest-products__arrow-left::before{
   background: url(../img/arrow-page_white.svg) center no-repeat;
   transform: rotate(180deg);
}
.pages-latest-products__arrow-left:hover{
   background-color: #3056D3;
}


.pages-latest-products__arrow-right {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 0.5px solid #E7E7E7;
   position: relative;
   transition:background-color  0.5s;

}
.pages-latest-products__arrow-right::before{
   display: inline-block;
   content: "";
   width: 12px;
   height: 10px;
   background: url(../img/arrow-pages.svg) center no-repeat;
   position: absolute;
   top: 33%;
   left: 33%;
   transform: rotate(180deg);
   
}

.pages-latest-products__arrow-right:hover{
   background-color: #3056D3;
}
.pages-latest-products__arrow-right:hover.pages-latest-products__arrow-right::before{
   background: url(../img/arrow-page_white.svg) center no-repeat;
   transform: rotate(0deg);
  }

@media (max-width:767.98px){
   .latest-products__grid{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
   }
   .latest-products__container {
      padding: 50px 15px;
   }
   .latest-products__header:not(:last-child){
      margin-bottom: 50px;
   }
}

@media (max-width:464.98px){
   .latest-products__grid{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 30px;
   }
   .latest-products__container {
      padding: 30px 15px;
   }
   .latest-products__header:not(:last-child){
      margin-bottom: 30px;
   }
}

.main__trending {
}
.trending-main {
   background-color: #FFFFFF;
}
.trending-main__container {
   max-width: 1200px;
   margin: 0 auto;
   padding:120px 15px ;
}
.trending-main__header {
   text-align: center;
   max-width: 500px;
   margin: 0 auto;
}

.trending-main__header:not(:last-child){
   margin-bottom: 70px;
}

.trending-main__header >*:not(:last-child){
   margin-bottom: 15px;
}

.trending-main__grid {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   border: 1px solid #E7E7E7;
   border-radius:7px ;
   overflow: hidden;
}

.trending-main__item {
   padding: 25px 25px 40px;
   border-right:1px solid #E7E7E7 ; 
   border-bottom:1px solid #E7E7E7 ; 
   margin-right: -1px;
   margin-bottom: -1px;
}
.item-trending {
}

.item-trending__image {
   position: relative;
   padding-bottom: 76.470588%; /* 260/340 */
   border-radius: 6px;
   overflow: hidden;
}
.item-trending__image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s;
}

.item-trending__image:hover img{
   transform: scale(1.1);
}

.item-trending__image:not(:last-child){
   margin-bottom: 24px;
}
.item-trending__price {
   font-size: 20px;
   font-weight: 600;
   line-height: 1.3; /* 26/20 */
   display: inline-block;
   transition: color 0.3s;
}
.item-trending__price:hover{
   color: #6589a9;
   
}
.item-trending__price:not(:last-child){
   margin-bottom: 10px;
}
.item-trending__title {
   font-size: 20px;
   font-weight: 600;
   line-height: 1.3; /* 26/20 */
   transition: color 0.3s;
}

.item-trending__title:hover{
   color: #637381;
}

.item-trending__reting {
   display: flex;
   gap: 10px;
   padding: 8px 0;
   align-items: center;
   flex-wrap: wrap;
}

.reting-trending__rewiews {
   display: flex;
   gap: 5px;
   color: #637381;
   line-height: 1.5; /* 24/16 */
   transition: color 0.3s;
}
.reting-trending__sum {
   
   
}
.reting-trending__rewiews:hover {
   color: #0d1115;
}
